*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    margin: 7.5% 0 0 35%;
}

.a{
   background-color: #3288C7;
   padding: 15px;
   display: block;
   margin: 5px 0 0 41.25%;
   border: none;
   border-radius: 10px;
   height: 50px;
   width: 300px;
   text-align: center;
   color: white;
   font-size: 25px;

   text-decoration: none;
}

#accueil{
    background-color: #c1dcf0;
}

.a:hover{
    cursor: pointer;
}

/*-------button-------*/
#button_tab{
    background-color: #60bbf0;
    height: 80px;
    margin: 0.5% 0 0.5% 1%;
    width: 98%;
    text-align: center;
    border: none;
    border-radius: 3px;
}

#button_inside{
    display: inline-block;
    background-color: #fafafa;
    height: 60px;
    margin: 10px 0 0 2%;
    width: 20%;
    text-align: center;
    border: none;
    border-radius: 3px;
}

#button_form_e{
    margin-top: 10px;
}

/*------------------Tableau------------------*/
table {
    width: 80%;
    margin-left: 10%;
}

th{
    text-align: center;
    margin: 0.5% 0 0.5% 0;
}

td{
    text-align: left;
    background-color: grey;
    padding: 1%;
    margin: 0 0 0 1%;
    border-radius: 5px;
}

/*-------logo-------*/
#logo{
   height: 120px; 
   margin-left: 0;
   margin-top: 0;
}

/*------------------form------------------*/
#form_c{
    position: absolute;
    margin: 5% 5% 0 15%;
    background-color: rgb(98, 151, 221);
    width: 70%;
    height: 765px;
}

#inputItem, #inputItem1, #inputItem2{
    margin-left: 10%;
}

#creer{
    margin: 5px;
}

input, .liste, #form, #form_c, #form_title{
    border-radius: 10px;
}

input{
    height: 50px;
}

/*------------------textarea------------------*/
.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group {
    flex: 1 1 42%; /* permet 2 colonnes */
    display: flex;
    flex-direction: column;
    margin: 5px;
}

textarea {
    width: 100%;
    resize: vertical;
    height: 100px;
}

/*------------------champs/text------------------*/
#date{
    margin-left: 6%;
}

#duree{
    margin-left: 6%;
}

#objectif{
    margin-top: 50px;
    margin-left: 0;
}

/*------------------colaborateur------------------*/
#logo_collaborateur{
    width: 15vw;
    margin-left: 0;
    margin-top: 0;
}
#button_collaborateur_entretient {
    float: right;
    width: 150px;
}
#carte_collaborateurs {
    display: flex;
    flex-wrap: wrap; /* Permet aux cartes de passer à une nouvelle ligne */
    justify-content: space-between; /* Espacement uniforme */
    gap: 15px; /* Espacement entre les cartes */
}
 
.carte {
    width: calc(20% - 15px); /* Chaque carte occupe 1/4 de la ligne */
    background-color: #3288C7;
    height: 20vw;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}
 
#pfp{
    width: 100px;
    margin: 0 auto;
    border-radius: 50%;
}
#formCollaborateur{
    bottom: 0;
}

/*-------Footer-------*/
.footer{
    background-color: #c1dcf0;
    text-align: center;
    position: static;
}