img{
    margin: 7.5% 0 0 35%;
}

a{
   background-color: #3288C7;
   padding: 15px;
   display: block;
   margin: 5px 0 0 41.25%;
   border: none;
   border-radius: 10px;
   height: 50px;
   width: 300px;
   text-align: center;
   color: white;
   font-size: 25px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-decoration: none;
}

#accueil{
    background-color: #c1dcf0;
}

a:hover{
    cursor: pointer;
}